<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- OG -->
    <meta property="og:title" content="Kanye West">
    <meta property="og:type" content="website">
    <meta name="twitter:image" content="https://i.imgflip.com/41j06n.png">
    <meta property="og:image" content="https://i.imgflip.com/41j06n.png">
    <meta property="og:description" content="Lmao kanye west in website">
    <meta property="og:site_name" content="By Ugau and a Arab who i don't like">
    <link rel="icon" type="image/png" href="https://i.imgflip.com/41j06n.png">
</head>
<body>
    <section style="background-color: #202225;" class="hero is-danger is-fullheight is-centered">
        <div class="hero-body">
          <div style="position: relative;" class="container has-text-centered">
            <center style="position: relative;height: 150px;">
            <img style="display: block; border-radius: 1000px; display: block;" src="<%= avatar %>">
            </center>
            <% if (status === "offline") { %>
            <i style="position: absolute;left: 50%;top: 90px;color: #202225;display: block;margin-left: 30px;" class="fas fa-circle fa-2x"></i>
            <i style="/* position: absolute; */left: 715px;top: 98px;color: rgb(116, 127, 141);font-size: 1.25em;position: absolute;left: 50%;top: 98px;/* color: wheat; */display: block;margin-left: 35px;" class="fas fa-dot-circle fa-lg"></i>
            <p class="subtitle is-5">On dirait bien que kanye west est mourue.</p>
            <p class="subtitle is-5">Tennez une photo de Kanye afin de patienter son arriver</p>
            <img style="width: 30%;height: auto;" src="<%= image %>">
            <% } else if (status === "idle") { %>
            <i style="position: absolute;left: 50%;top: 90px;color: #202225;display: block;margin-left: 30px;" class="fas fa-circle fa-2x"></i>
            <i style="/* position: absolute; */left: 715px;top: 98px;color: rgb(250, 166, 26);font-size: 1.25em;position: absolute;left: 50%;top: 98px;/* color: wheat; */display: block;margin-left: 35px;" class="fas fa-moon fa-lg"></i>
            <p class="subtitle is-5">Kanye est actuellement connecter mais en AFK vous devriez plûtot attendre son arriver en vous masturbant bon ramadan boubakar a tous</p>
            <p class="subtitle is-5">Tenez Kanye West</p>
            <img style="width: 30%;height: auto;" src="https://i.imgflip.com/41j06n.png">
            <% } else if (status === "dnd") { %>
            <i style="position: absolute;left: 50%;top: 90px;color: #202225;display: block;margin-left: 30px;" class="fas fa-circle fa-2x"></i>
            <i style="/* position: absolute; */left: 715px;top: 98px;color: rgb(240, 71, 71);font-size: 1.25em;position: absolute;left: 50%;top: 98px;/* color: wheat; */display: block;margin-left: 35px;" class="fas fa-minus-circle fa-lg"></i>
            
            <p class="subtitle is-5">Kanye est actuellement en ne pas déranger</p>
            <p class="subtitle is-5">Tenez votre Kanye West</p>
            <img style="width: 30%;height: auto;" src="https://i.imgflip.com/41j06n.png">
            <% } else if (status === "online") { %>
            <i style="position: absolute;left: 50%;top: 90px;color: #202225;display: block;margin-left: 30px;" class="fas fa-circle fa-2x"></i>
            <i style="/* position: absolute; */left: 715px;top: 98px;color: rgb(67, 181, 129);font-size: 1.25em;position: absolute;left: 50%;top: 98px;/* color: wheat; */display: block;margin-left: 35px;" class="fas fa-circle fa-lg"></i>
            <p class="subtitle is-5">Kanye est la :D</p>
            <p class="subtitle is-5">Tenez voici encore une fois kanye West</p>
            <img style="width: 30%;height: auto;" src="https://i.imgflip.com/41j06n.png">
            <% } %>
          </div>
        </div>
      </section>
</body>
</html>
<style>
  .qsjkdqsj:hover {
    text-decoration: underline;
  }
</style>